/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
